{% extends "pdf_online/template/login.html" %}
{% block content %}
	<div class="category-manage-outer">
		<div class="user-info">
			<img src="{{context}}/{{user}}/head-image" class="img-circle">
			<a href="{{context}}/user/{{user}}">用户 {{user}}</a>
		</div>
		<div class="alert alert-danger" role="alert" style="margin-top:15px;">
			<ul>
				<li>警告：删除分组将会删除分组内所有文件，请谨慎操作.</li>
			</ul>
		</div>
		<div class="categoery-table">
			<table class="table table-striped">
				<tr>
					<th>分类</th>
					<th>文章数</th>
					<th>操作</th>
				</tr>
				{% for categoery in categoeries %}
				<tr>
					<td>{{categoery.categoery}}</td>
					<td>{{categoery.count}}</td>
					<td><a href="javascript:void(0)">删除</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="add-categoery-block">
			<form class="form-inline" role="form" onsubmit="addNewCategoery(); return false;">
			  <div class="form-group">
			  	{% if antiforgery %}{{antiforgery|safe}}{%endif%}
			    <input type="text" class="form-control" id="newCategoery" 
			    name="newCategoery" placeholder="请输入新分组名">
			  </div>
			  <button type="submit" class="btn btn-primary">添加分组</button>
			</form>
		</div>
	</div>
{% endblock %}