<div class="container">
	<table class="table table-striped" id="pdfList">
		<tr>
			<th>名称</th>
			<th>所有者</th>
			<th>类别</th>
			<th>点击次数</th>
		</tr>
		{% for item in pdfItems %}
			<tr>
				<td>
					<img style="weight:25px;height:25px;" src="{{context}}/img/pdf_icon.png">
					<a href="{{context}}/read/{{item.userid}}/{{item.categoery}}/{{item.name}}" 
					target="_blank">
					{{item.name}}</a>
					<a href="{{context}}/detail/{{item.userid}}/{{item.categoery}}/{{item.name}}" 
						 class="detail">详情</a>
					<span>|</span>
					<a href="{{context}}/read/{{item.userid}}/{{item.categoery}}/{{item.name}}" 
					   class="read" target="_blank">阅读</a>
					<span>|</span>
					{% if item.favorite %}
						<a href="javascript:void(0)" class="favo"
						onclick="deleteFavorite(this, '{{item.userid}}', '{{item.categoery}}', '{{item.name}}'); return false;">取消收藏</a>
					{% else %}
						<a href="javascript:void(0)" class="favo"
						onclick="addFavorite(this, '{{item.userid}}', '{{item.categoery}}', '{{item.name}}'); return false;">收藏</a>
					{% endif %}
				</td>
				<td><a href="{{context}}/user/{{item.userid}}">{{item.userid}}</a></td>
				<td>{{item.categoery}}</td>
				<td>{{item.clicktimes}}</td>
			</tr>
		{% endfor %}
	</table>
</div>