{% extends "pdf_online/template/base.html" %} 

{% block header %}
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<img src="{{context}}/img/logo.gif" class="logo">
			<a class="navbar-brand" href="{{context}}/">首页</a>
			<a class="navbar-brand" href="#">点位</a>
			<a class="navbar-brand" href="#">占位</a>
			{% include "pdf_online/template/fun.html" %}
			<button type="button" class="btn btn-default navbar-btn navbar-right"
							data-toggle="modal" data-target="#myModal">注册</button>		
			<form class="navbar-form navbar-right" method="post" action="{{context}}/login">
		    <div class="form-group">
		    	{% if antiforgery %}{{antiforgery|safe}}{%endif%}
		      <input type="text" id="username" name="username" class="form-control" 
		      			 placeholder="账号">
		      <input type="password" id="pass" name="pass" class="form-control" 
		      			 placeholder="密码">
		    </div>
		    <button type="submit" class="btn btn-default">登录</button>
	  	</form>
		</div>
	</nav>
	{% include "pdf_online/template/register_form.html" %}
{% endblock %}